*{box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* roboto is imported from google fonts */
body {
    font-family: "Roboto", "Arial", sans-serif;
    background-image: url("blackveil-background.jpg");
    background-repeat: repeat;
    background-size: auto;
}

h2 {
  font-size: 2rem;
}

/* social button CSS - fix at top-right */
.social {
  position: fixed;
  display: flex;
  top: 5px;
  right: 5px;
  height: 30px;
  margin-right: 30px;
  justify-content: end;
  align-items: center;
  padding: 5px;
  background-color: #8f8383;
  border-radius: 5px;
  border: 3px solid  #000;
}

/* space out the social media button links */
.social a {
 padding: 5px;
}

/* Band name and subtitle styling*/
header div{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    width: 50%;
    margin: auto;
    color:#bb0a1e;
    background-color: #000;
    padding: 1em 0px;
    border-radius: 3rem;
}

/* font sizing for header sub-elements */
#bandname {
    font-size: 8rem;
    text-shadow: 5px 2px #3b0101;
}

#subtitle {
    font-size: 3rem;
    text-shadow: 2px 1px #3b0101;
}

/* styling for navbar */
.navbar {
    display:flex;
    margin: 2rem 0px;
    border: solid;
}

.navbar a {
   text-decoration:none;
   font-size: 2rem;
   font-weight: bold;
   color: black;

   padding: 10px;
   border: solid;
   width: 20%;
   text-align: center;
   background-color: #bb0a1e;
 }

 .navbar a:hover {
    background-color: #bc5252;
  }

  .navbar a:active {
    background-color: #3a004a;
  }

/*start of styling for home page */
.home_content {
  display:flex;
  }

.home_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #8f8383;
    border: solid;
    padding: 3rem;
}

.para_title {
    font-size: 4rem;
}

.para{
    font-size:1.5rem;
}
/*end of styling for home page */

/* styling for singers page content */
#singer_list {
  margin: 0px 3rem;
}

.bio{
  background-color: #8f8383;
  display: flex;
  align-items: center;
  margin: 2rem;
  border: 3px solid #000;
}

.name{
  padding: .5rem;
  font-size: 2rem;
  width: 13rem;
  text-align: center;
  margin: auto;
}

.profile{
  width: 40rem;
  font-size: 1.2rem;
  margin: auto;
}
/*end styling for singers page content */

/*styling for covers table is an internal css*/

/* styling for contact page */
#contact_forms {
  background-color: #8f8383;
  max-width: 70%;
  margin: auto;
  border: 3px solid #000;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  align-items: end;
  font-size: 1.5rem;
}

/* Styling for footer. Stick to bottom of page */
footer {
  position: sticky;
  bottom: 0px;
  right: 0px;
  left: 0px;
  display: flex;
  font-weight: bold;
  color:#bb0a1e;
  background-color: #000;
  padding: 10px;
  margin-top: 20px;
}

footer div {
  width: 33.33%;
  text-align: center;
}

#disclaimer {
text-align: right;
}


/* media queries */
@media(max-width: 768px) {
  .navbar .home_content {
      flex-direction: column;
      padding-top: 20px;
      text-align: center;
  }


  #disclaimer {
    display: none;
  }

  .home_content img {
    display: none;
  }
}
